
.btn{
	color: #111 !important;
	font-size: 18px !important;
}

#short-intro a{
	color: white !important;
}

.btn:hover{
	color: #fff !important;
}

img{
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul{
	list-style-type: none;
}

#contact-info .btn-envelop:hover{
	color: #cc9d8c !important;
}

#contact-info .btn-linkedIn:hover{
	color: #0a66c2 !important;
}

#contact-info .btn-twitter:hover{
	color: #1da1f2 !important;
}

#contact-info .btn-gitHub:hover{
	color: grey !important;
}

.my-intro{
	background-image: url('https://bs-assets.toptal.io/blackfish-assets/bg-design_dd336b.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 630px;
    max-width: 100%;
    color: white !important;
    padding-top: 160px;
}

#projects,#hobbies{
	background: lightgrey;
	margin-bottom: 12px;
}

.arrowicon:hover{
	color: white !important;
}


#education{
	background-color: #111;
	color: white;
}

#education a{
	color: white !important;
}

#contact-info{
	margin-bottom: -12px;
	background-color: black;
	color: white;
}

#contact-info .btn{
	color: white !important;
}


#posts-button>a{
	color: white;
}

hr{
	color: white;
    border: 1px solid;
}